<app-navbar></app-navbar>
<div
  class="pt-16 min-h-screen bg-dark-900 text-white font-sans selection:bg-primary selection:text-white overflow-x-hidden">
  <app-hero></app-hero>
  <app-projects></app-projects>
  <app-about></app-about>
  <app-experience></app-experience>
  <app-contact></app-contact>

  <!-- Mouse Follower Spotlight -->
  <div class="pointer-events-none fixed inset-0 z-30 transition duration-300"
    [style.background]="'radial-gradient(600px at ' + mouseX + 'px ' + mouseY + 'px, rgba(99, 102, 241, 0.10), transparent 80%)'">
  </div>

  <router-outlet></router-outlet>
</div>