@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .animation-delay-150 {
        animation-delay: 150ms;
    }

    .animation-delay-300 {
        animation-delay: 300ms;
    }

    .animation-delay-500 {
        animation-delay: 500ms;
    }

    .animation-delay-2000 {
        animation-delay: 2000ms;
    }
}